

.top-div{
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-div-para{
    margin-top: 4%;
    color: #0590FF;
}

.bottom-div-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-div-cardLeft{
    height:475px;
    width: 340px;
    border: 2px solid black;
}




/* .bottom-div-cardLeft-button-div :hover{
    background-color: #092840;
    
} */



.bottom-div-cardRight{
    height:475px;
    width: 340px;
    border: 2px solid black;
}

.bottom-div-cardCenter{
    height:575px;
    width: 340px;
    border: 2px solid steelblue;
    margin-left: 30px;
    margin-right: 30px;
}

.bottom-div-cardCenter-innerCenter{
    background-color: #0590FF;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-div-cardLeft-innerTop{
    height: 135px;
    background-color: #092840;
}

.bottom-div-cardLeft{
    
    height:475px;
    width: 340px;
    border: 2px solid black;
    
}

.card-left{
    height: 130px;
    background-color: #092840;
    text-align: center;
}

.card-left :hover{
    background-color: orange;
    height: 130px;
}

.card-center{
    height: 150px;
    background-color: #0590FF;
    text-align: center;
}

.card-center :hover{
    background-color: orange;
    height: 150px;
}

.card-right{
    height: 130px;
    background-color: #092840;
    text-align: center;
}

.card-right :hover{
    background-color: orange;
    height: 130px;
}




.bottom-div-cardLeft-innerBottom{
    height: 135px;
    background-color: #092840;
}

.bottom-div-cardLeft-innerTop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-div-cardLeft-innerBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-div-cardLeft-button-div :hover{
    background-color: #092840;
    color : white !important
    
}

.bottom-div-cardCenter-button-div :hover{
    background-color: #0590FF ;
    color : white !important
}

.bottom-div-cardRight-button-div :hover{
    background-color: #092840;
    color : white !important
}


