


.left-div-main{
    height: 500px;
    width:100%;
    background-color:pink;
}

.right-div-main{
    height: 500px;
    width:100%;
    background-color : #092840;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-div-main-top{
    display: flex;
    flex-direction:column;
}

.right-div-main-bottom{
    display: flex;
    flex-direction:column;
}



.right-div-main-top-heading-top-left{
   font-size: 55px;
   color: orange;
}

.right-div-main-top-paragraph-top-left{
    color: white;
}

.right-div-main-top-heading-bottom-left{
    font-size: 55px;
    color: orange;
}

.right-div-main-top-paragraph-bottom-left{
    color:white;

}



.right-div-main-bottom-heading-top{
    font-size: 55px;
    color: orange;
}

.right-div-main-bottom-paragraph-top{
    color:white;

}


.right-div-main-bottom-heading-bottom{
    font-size: 55px;
    color: orange;
}

.right-div-main-bottom-paragraph-bottom{
    color:white;

}


.right-div-main-top-subwrapper{
    padding: 25px;
}