


    /* .parallax{
        width: 100%;
        height: 100%;
        
        background-size: 100% 100%;
        background-attachment: fixed;
        opacity: 0.7;
    } */



    /* Styles for ( fullScreen Width ) */

    .header-div-wrap{
        display: flex;
        
        width: 35%;
        justify-content: space-evenly;
    }

    .main-div{
        height: 875px;
        overflow: hidden;
    }

    .header-div{
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
        justify-content: space-between;
    }

    .logo-style-tandem{
        height: 80px;
        /* background-color: crimson; */
        margin-left: 150px;
        
    }

    /* .logo{
        margin-left: 5%;
    } */

    /* .login-text{
        margin-right: 5%;
    } */

    .grid-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-left-inner{
        display: flex;
        justify-content: center
    }

    .grid-left-inner-textWrapper{
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .grid-left-heading{
        font-size: 40px;
        color: #5d7cea;
    }

    .grid-left-paragraph{
        font-family: sans-serif;
        font-weight: lighter;
    }

    .grid-right{
        padding-right: 60px;
        padding-left: 20px;
    }

    .grid-right-img{
       
        width: 100%;
        height: 650px;
        background-size: 50% 100%;
        background-attachment: fixed;
    }



    /* Styling for( iPad landscape · width: 1024px ) */


    @media (max-width:1024px) {
        .grid-left-heading{
            font-size: 35px;
            color: #5d7cea;
        }

        .grid-left-paragraph{
            font-family: sans-serif;
            font-weight: lighter;
            font-size: 12px;
        }

        .grid-left-inner-textWrapper{
            width:500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
        }
           
        .grid-right{
            
            width: 300px;
        }
        .logo-style-tandem{
            height: 70px;
            /* background-color: crimson; */
            margin-left: 120px;
            
        }

        .header-div-wrap{
            width: 60%;
            /* background-color: crimson; */
        }
    
        
    }



    @media (max-width:960px) {
          .grid-right{
              padding-right: 22px;
          }

          .logo-style-tandem{
            height: 60px;
            /* background-color: crimson; */
            margin-left: 100px;
            
        }

        
    }



    /* Styling for( iPad portrait · width: 965px ) */

    @media (max-width : 965px) {
 
        .grid-right{
            padding-left: 40px;
        }

        .grid-right-img{
            width: 100%;
            height: 650px;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
        .logo-style-tandem{
            height: 60px;
            /* background-color: crimson; */
            margin-left: 100px;
            
        }
    }


    /* Styling for( iPad portrait · width: 605px ) */

    @media (max-width : 605px) {
 
        .grid-right {
            /* padding-right: 10px;
            padding-left: 10px; */
            width: 700px;
        }

        .grid-right-img{
            width: 100%;
            height: 650px;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    }


    /* Styling for( iPad portrait · width: 565px ) */

       @media (max-width: 565px) {
             .header-div{
                 
                 margin-right: 0px;
                 padding-right: 0px;
             }

             .logo-text{
                 font-size: 20px;
             }

             .grid-left-heading{
                 font-size: 30px;
                 padding-left: 10px;
             }
       }


       /* Styling for( iPad portrait · width: 535px ) */

             @media (max-width: 535px) {
                .grid-left-inner-textWrapper{
                    padding-right: 40px;
                }
            }


             /* Styling for( iPad portrait · width: 505px ) */

            @media (max-width: 505px) {
                .grid-left-inner-textWrapper{
                    padding-right: 50px;
                }
            }


             /* Styling for( iPad portrait · width: 495px ) */

            @media (max-width: 495px) {
                .grid-left-inner-textWrapper{
                    padding-right: 55px;
                }
                .grid-left{
                    padding-left: 45px;
                }
            }

            @media (max-width :485px) {
                .grid-left-heading{
                    padding-left: 0px;
                }
                .grid-left-inner-textWrapper{
                    width: 450px;
                }
            }

            @media (max-width : 475px) {
                .grid-left-heading{
                    font-size: 22px;
                }
            }


    /* Styling for( iPad portrait · width: 768px ) */
    /* Styling for ( iPhone 6-8 Plump landscape · width: 736px ) */
    /* Styling for ( iPhone 6-8 landscape · width: 667px ) */

    @media (max-width: 786px){
       
        .grid-left{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            padding-bottom: 20px;
            padding-left: 60px;
        }

        .grid-left-paragraph{
            font-family: sans-serif;
            font-weight: lighter;
            font-size: 12px;
            margin-right: 75px;
        }

        .grid-right{
            padding-right: 60px;
            padding-left: 60px;
        }

        .grid-right-img{
       
            width: 100%;
            height: 650px;
            background-size: 100% 100%;
            background-attachment: fixed;
        }

        .logo-style-tandem{
            height: 50px;
            /* background-color: crimson; */
            margin-left: 70px;
            
        }

        
    }



    @media (max-width:780px) {
        .grid-right{
            padding-right: 50px;
        }
    }


    /* Styling for( iPhone 6-8 Plump portrait · width: 414px ) */
    /* Styling for ( iPhone 6-8 landscape · width: 667px ) */


       @media (max-width: 414px) {
           
           .logo-text{
               font-size: 20px;
           }
           
           /* .login-text{
               padding-top: 3px;
           } */

           .grid-left-heading{
            font-size: 22px;
            color: #5d7cea;
            
           }

           .grid-left-paragraph {
            font-family: sans-serif;
            font-weight: lighter;
            font-size: 12px;
            margin-right: 100px;
        }

           .grid-left-inner{
               margin-top: 30px;
           }
           
           .grid-right-img{
             height: 450px;
             width: 400px;
             padding-left: 0px;
             margin-left: 0px;
             padding-right: 0px
           }

           .grid-right{
               
               padding-left: 0px;
               margin-left: 0px;
               padding-right: 0px;
           }

           
            .main-div{
                 height: 735px;
                 width: 100%;
            }

            .logo-style-tandem{
                height: 50px;
                /* background-color: crimson; */
                margin-left: 150px;
                
            }

            
       }


       /* Styling for ( iPhone 6-8 portrait · width: 375px ) */
       /* Styling for ( Android (Pixel 2) landscape · width: 684px ) */
       /* Styling for ( Android (Pixel 2) portrait · width: 412px ) */
       /* Styling for ( iPhone eXpensive landscape · width: 734px ) */
       /* Styling for ( iPhone eXpensive portrait · width: 375px ) */

        
       @media (max-width: 375px) {
           
        
        
        .grid-left-inner{
          width: 272px;
          }


       .grid-left-paragraph {
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 12px;
        margin-right: 0px;
    }
         
       .grid-left-heading {
        margin-right: 8px;
        font-size: 17px;
    }
    .logo-style-tandem{
        height: 50px;
        /* background-color: crimson; */
        margin-left: 120px;
        
    }
       
    }


    @media (max-width:955px) {
          .header-div-wrap{
              width: 50%;
          }
    }

    @media (max-width:665px) {
        .header-div-wrap{
            width: 60%;
        }

  }

  @media (max-width:550px) {
    .header-div-wrap{
        width: 65%;
    }
}


    /* Designing for Hamburger Icon  */
    
    .hamburger-icon{
        position: absolute;
        left: 94%;
        opacity: 0;
        visibility: hidden;
    } 


    @media (max-width:500px) {
          .hamburger-icon{
            position: absolute;
            left: 85%;
            margin-top: 10px;
            opacity: 1;
            visibility: visible;
          }
          .header-div-wrap{
              opacity: 0;
              visibility: hidden;
          }
    }