

.parallax{
    width: 100%;
    height: 800px;
    background-image: url(https://images.unsplash.com/photo-1588011930968-eadac80e6a5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.7;
}

.first-info-div{
    margin-top: 50%;
    margin-right: 10%;
}

.first-info-div-topText{
    color: #0590FF;
    font-weight: bolder;
    font-size: 15px;
}

.first-info-div-bottomText{
    color: white;
    font-size: 35px;
}


.second-info-div{
    margin-top: 55%;
    margin-right: 15%;
}

/* .second-info-div-top{
    
} */

.second-info-div-bottom{
    margin-top: 30%;
}


.third-info-div{
    margin-top: 55%;
    margin-right: 15%;
}

/* .third-info-div-top{
    
} */

.third-info-div-bottom{
    margin-top: 30%;
}


.fourth-info-div{
    margin-top: 55%;
    margin-right: 15%;
}

/* .fourth-info-div-top{
    
} */

.fourth-info-div-bottom{
    margin-top: 30%;
}


.second-info-div-top-topText{
    color: white;
    font-size: 25px;
}

.second-info-div-top-bottomText{
    color: white;
    
}

.second-info-div-bottom-topText{
    color: white;
    font-size: 25px;
}

.second-info-div-bottom-bottomText{
    color: white;
    
}



.third-info-div-top-topText{
    color: white;
    font-size: 25px;
}

.third-info-div-top-bottomText{
    color: white;
    
}

.third-info-div-bottom-topText{
    color: white;
    font-size: 25px;
}

.third-info-div-bottom-bottomText{
    color: white;
    
}



.fourth-info-div-top-topText{
    color: white;
    font-size: 25px;
}

.fourth-info-div-top-bottomText{
    color: white;
    
}

.fourth-info-div-bottom-topText{
    color: white;
    font-size: 25px;
}

.fourth-info-div-bottom-bottomText{
    color: white;
    
}

