

/* .input-div :hover{
   border: 1px solid black;
 
} */


/* Styling for fullScreen Width */
.input-style::placeholder {
   padding-left: 10px;
}

.input-style-subject::placeholder{
    padding-left: 10px;
}

.getintouch-textarea::placeholder{
   padding-left: 10px;
   padding-top: 2px;
}


.input-style{
    border:1px solid black;
    margin-right: 10px ;
    background-color: #F7F7F7;
    height: 50px;
    width:220px;
    border-radius:0;

}

.input-style-subject{
    border : 1px solid black;
    background-color: #F7F7F7;
    height: 50px;
    width:450px;
    border-radius:0
}


.btn-style{
    background-color:black;
    color: white;
    height: 50px;
    width: 455px;
    border: none;
    margin-top: 10px
}





.main-div-getintouch{
    height: 900px;
    background-color: #F7F7F7;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 40px;
    
}


.top-grid-heading-getintouch{
    color: #755edb;
    font-size: 40px;
    text-align: center;
    height: 470px;
  
}


.bottom-grid-div-getintouch{
    display: flex
}

.formfeild-getintouch{
    font-weight: lighter;
}



/* Styling in ( iPad landscape · width: 1024px ) */


@media (max-width: 1024px) {
    /* .bottom-grid-div-getintouch{
        padding-left: 25px;
    }

    .bottom-grid-div-getintouch-subject{
        padding-left: 25px;
    }
    
    .bottom-grid-div-getintouch-message{
        padding-left: 24px;
    }

    .btn-style{
        padding-left: 23;
    } */



    /* Styling in ( iPad landscape · width: 768px ) */
    
}

@media (width: 768px) {
      
    .bottom-grid-div-getintouch{
        padding-left: 75px;
    }

    .bottom-grid-div-getintouch-subject{
        padding-left: 75px;
    }
    
    .bottom-grid-div-getintouch-message{
        padding-left: 75px;
    }

    .btn-div{
        padding-left: 75px;
    }

    .main-div-getintouch{
        height: 1000px;
    }
    

}


/* Styling in ( iPad landscape · width: 736px ) */


@media (max-width: 736px){

    .main-div-getintouch{
        height: 1000px;
    }

    .bottom-grid-div-getintouch{
        padding-left: 60px;
    }

    .bottom-grid-div-getintouch-subject{
        padding-left: 60px;
    }
    
    .bottom-grid-div-getintouch-message{
        padding-left: 60px;
    }

    .btn-div{
        padding-left: 60px;
    }

}


/* Styling for ( iPhone 6-8 Plump portrait · width: 414px ) */


@media (max-width:414px) {

    .inner-div-getintouch{
        display: none;
    }

    
     
    .main-div-getintouch{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 150px;
        height: 650px;
    }
   
    .top-grid-heading-getintouch{
        font-size: 25px;
         width: 375px;
    }


    .input-style{
        width: 150px;
    }

    .input-style-subject{
        width: 320px;
        
    }

    .getintouch-textarea{
        width: 320px;
    }

    .btn-style{
        width: 320px;
        
    }

    .bottom-grid-div-getintouch{
        padding-left: 45px;
    }
    
    .bottom-grid-div-getintouch-subject{
        padding-left: 45px;
        margin-left: 12px;
        
    }
    
    .bottom-grid-div-getintouch-message{
        padding-left: 45px;
        margin-left: 12px;
    }

    .btn-div{
        padding-left: 45px;
        margin-left: 10px;
    }

    .input-div{
        padding-left: 12px;
    }


    .input-style::placeholder {
        padding-left: 4px;
     }
     
     .input-style-subject::placeholder{
         padding-left: 4px;
     }
     
     .getintouch-textarea::placeholder{
        padding-left: 4px;
        padding-top: 2px;
     }

}



/* Styling for ( iPhone 6-8 portrait · width: 375px ) */


@media (max-width: 375px) {


    .inner-div-getintouch{
        display: none;
    }

    .main-div-getintouch{
        height: 600px;
    }

    .main-div-getintouch{
        margin-top: 300px;
    }

    .btn-style{
        width: 285px;
      

    }

    .top-grid-heading-getintouch {
        font-size: 25px;
        width: 350px;
    }

    
    .bottom-grid-div-getintouch{
        padding-left: 0px;
        margin-right: 0px;
    }
    
    .bottom-grid-div-getintouch-subject{
        padding-left: 0px;
        margin-left: 0px;
      
    }
    
    .bottom-grid-div-getintouch-message{
        padding-left: 0px;
        margin-left: 0px;
       
    }

    .input-div{
        padding-left: 0px;
    }

    .input-style-subject{
        width: 310px;
    }

    .getintouch-textarea{
        width: 310px;
    }

}

  

/* Styling for ( iPhone 6-8 landscape · width: 667px ) */


@media (max-width:667px) {
     

    .bottom-grid-div-getintouch{
        padding-left: 25px;
    }

    .bottom-grid-div-getintouch-subject{
        padding-left: 25px;
    }
    
    .bottom-grid-div-getintouch-message{
        padding-left: 25px;
    }

    .btn-div{
        padding-left: 25px;
    }

}



@media (max-width:684px) {

    .bottom-grid-div-getintouch{
        padding-left: 30px;
    }

    .bottom-grid-div-getintouch-subject{
        padding-left: 30px;
    }
    
    .bottom-grid-div-getintouch-message{
        padding-left: 30px;
    }

    .btn-div{
        padding-left: 30px;
    }


}