.tableCell-top {
  background-color: #3f89e2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.tableCell-top-title {
  color: white;
}

.tableCell-top-input {
  border-radius: 35px;
  width: 140px;
  border-width: 1px;
}

.tableCell-top-input::placeholder {
  padding-left: 10px !important;
}

.tableCell-bottom {
  padding: 0px !important;
  text-align: center !important;
  border-right: 2px solid white !important;
}

/* .tableCell-bottom-light:hover{
  background-color:#00CCFF;
}

.tableCell-bottom-dark:hover{
  background-color: #00CCFF;
} */


.table-headers-tables {
  padding: 1px !important;
  /* border-right: 1px solid white !important; */
}

.tableCell-bottom-light {
  padding: 0px !important;
  background-color: lightgray;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  /* border: 1px solid white !important; */

  
}
.tableCell-bottom-dark {
  padding: 1px !important;
  background-color: whitesmoke;
  border-right: 2px solid white;
  padding: 0px !important;
  /* border-right: 1px solid white !important; */
}
